            .col-xs-12 {
                height: 100px;
                background: blue;
                color: white;
                text-align: center;
            }
                
            .col-xs-6 {
                height: 100px;
                background: yellow;
                color: black;
                text-align: center;
            }
            .col-xs-4 {
                height: 100px;
                background: green;
                color: white;
                text-align: center;
            }
            .footer .col-sm-4 {
                height: 100px;
                background: purple;
                color: white;
                text-align: center;
            }
            .col-xs-8 {
                height: 100px;
                background: red;
                color: white;
                text-align: center;
            }
            